<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your FileSpace</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">
        <div class="title">FileSpace</div>
        <a class="btn home-btn" href="/">Home</a>
        <a class="btn files-btn" href="/folders">Your Files</a>
        <% if(currentUser) { %>
        <a class="btn logout-btn" href="/logout">Logout</a>
         <% } %>
    </div>

    <% if (!files) { %>
        <div>Nothing to see here!</div>
        <div class="separator"></div>
        <a class="btn" href="/new-file">Upload File</a>
    <% } %>

    <% if (files) { %>
        <div class="file-grid-container">
        <div class="file-grid">
            <% files.forEach((file) => { %>
                <div class="file-card">
                    <a href="/info/<%= file.id %>/<%= file.title%>"><img class="file-img" src="/static/file.png"></a>
                    <div class="file-text"><%= file %></div>
                </div>
            <% }) %>
        </div>
        </div>
    <% } %>
    
    <div class="separator"></div>
    <div class="file-form-container">
        <form action="/new-file" method="post" enctype="multipart/form-data">
            <input class="file-choose" type="file" name="upload-file"/><br>
            <button type="submit">Complete upload</button>
        </form>
    </div>
</body>
</html>