<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your FileSpace</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">
        <div class="title">FileSpace</div>
        <a class="btn home-btn" href="/">Home</a>
        <a class="btn files-btn" href="/folders">Your Files</a>
        <% if(currentUser) { %>
        <a class="btn logout-btn" href="/logout">Logout</a>
         <% } %>
    </div>

    <% if (!folders) { %>
        <div>Nothing to see here!</div>
        <div>Start by <a href="/new-folder">adding a folder.</a></div>
    <% } %>

    <% if (folders) { %>
        <div class="folder-grid-container">
        <div class="folder-grid">
            <% folders.forEach((folder) => { %>
                <div class="folder-card">
                    <a href="files/folder/<%= folder.title %>"><img class="folder-img" src="/static/folder.png"></a>
                    <div class="folder-text"><%= folder.title %></div>
                </div>
            <% }) %>
        </div>
        </div>
    <% } %>
    
    <div class="separator"></div>

    <form method="post" action="/new-folder">
        <label for="title">Title</label>
        <input name="title">
        <button type="submit">Add new folder</button>
    </form>
</body>
</html>