<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your FileSpace</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">
        <div class="title">FileSpace</div>
        <a class="btn home-btn" href="/">Home</a>
        <a class="btn files-btn" href="/folders">Your Files</a>
        <% if(currentUser) { %>
        <a class="btn logout-btn" href="/logout">Logout</a>
         <% } %>
    </div>

    <% if (!folders) { %>
        <div>Nothing to see here!</div>
        <div>Start by <a href="/new-folder">adding a folder.</a></div>
    <% } %>

    <% if (folders) { %>
        <div class="folder-grid-container">
        <div class="folder-grid">
            <% folders.forEach((folder) => { %>
                <div class="folder-card">
                    <a href="/folders/<%= folder.title %>"><img class="folder-img" src="/static/folder.png"></a>
                    <div class="folder-text"><%= folder.title %></div>
                    <a class="folder-info-btn" href="/folders/folder-info/<%= folder.id %>"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" id="Bookmark-Manager-Fill--Streamline-Sharp-Fill-Material" height="24" width="24"><desc>Bookmark Manager Fill Streamline Icon: https://streamlinehq.com</desc><path fill="#0382fa" d="M14 22v-3.075l6.575 -6.55 3.05 3.05L17.075 22H14Zm6.575 -5.6L21.5 15.425 20.575 14.5l-0.95 0.95 0.95 0.95ZM2 20V4h8.525l1.5 1.5H22v3.35L12.5 18.3V20H2Z" stroke-width="0.5"></path></svg></a>
                </div>
            <% }) %>
        </div>
        </div>
    <% } %>
    
    <div class="separator"></div>

    <div class="folder-form-container">
    <form method="post">
        <label for="title">Title</label>
        <input name="title">
        <button class="new-folder-button" type="submit">Add new folder</button>
    </form>
    </div>

</body>
</html>