@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: aliceblue;
}

.btn {
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
    padding: 10px;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(42, 97, 250);
    font-weight: 500;
}

.btn:hover {
    background-color: rgb(0, 68, 253);
    color: rgb(255, 255, 255);
    transform: scale(1.07);
}

.header {
    background-color: rgb(52, 52, 52);
    color: white;
    height: 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.home-btn {
    grid-column: 3;
    grid-row: 1;
}

.logout-btn {
    grid-column: 4;
    grid-row: 1;
    background-color: rgb(146, 0, 0);
}

.logout-btn:hover {
    background-color: rgb(101, 0, 0);
}

.files-btn {
    grid-column: 2;
    grid-row: 1;
}

.title {
    margin-left: 40px;
    font-size: 2.4rem;
    font-weight: bolder;
}

.welcome {
    text-align: center;
}

.opening-container {
    align-self: center;
    width: 400px;
    height: 120px;
    text-align: center;
    padding: 20px;
}

.motto {
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 10px;
}

.get-started-text {
    padding: 5px;
}

.signup-btn, .login-btn {
    position: relative;
    top: 20px;
    padding: 14px;
}

.centre-flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.feature-card-container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-card {
    padding: 10px;
    margin: 30px;
    box-shadow: 2px 2px rgb(188, 188, 188);
    background-color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
    border-radius: 15px;
    max-width: 320px;
}

.feature-card:hover {
    transform: scale(1.06)
}

.feature-title {
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    margin-bottom: -10px;
}

.feature-text {
    padding: 35px;
    text-align: center;
}

.separator {
    height: 80px;
}

.folder-img, .file-img {
    width: 100px;
}

.folder-img:hover, .file-img:hover {
    opacity: 80%;
    cursor: pointer;
}

.folder-card, .file-card {
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.folder-grid, .file-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.folder-grid-container, .file-grid-container {
    width: 80vw;
    height: 50vh;
    margin: 40px auto;
}

.file-form-container, .folder-form-container {
    margin: 0 auto;
    padding: 25px;
    width: 20vw;
    background-color: white;
    box-shadow: 2px 2px rgb(202, 201, 201);
    border-radius: 10px;
}

.folder-form-container {
    text-align: right;
}

.new-folder-button {
    margin-top: 10px;
}

.file-label, .file-choose {
    margin-bottom: 10px;
}

.delete-folder-btn, .update-folder-btn {
    text-decoration: none;
}

.folder-info-grid-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.folder-info-grid {
    display: grid;
    width: 50vw;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 1fr);
    background-color: white;
    box-shadow: 2px 2px lightgray;
    padding: 20px;
}

.folder-delete-btn {
    background-color: rgb(137, 0, 0);
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
    align-self: center;
    margin: 5px auto;
    width: 95%;
}

.folder-update-btn-form, .folder-delete-btn-form {
    display: flex;
    justify-content: center;
}

.folder-update-btn {
    background-color: rgb(0, 68, 253);
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;
    align-self: center;
    margin: 5px auto;
    width: 95%;
}

.folder-update-btn:hover {
    background-color: rgb(73, 121, 255);
    cursor: pointer;
}

.folder-info-grid-item {
    border: 0.3px dotted black;
    padding: 7px;
    text-align: right;
}

.folder-info-grid-item.folder-data {
    text-align: left;
}

.folder-delete-btn:hover {
    background-color: red;
    cursor:pointer;
}

.update-delete-btn-container {
    grid-column: 1 / 3;
    display: grid;
    position: relative;
    top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.folder-title-input.folder-info-grid-item {
    width: 100%;
    padding: 0;
    text-align: center;
}